html, body {
    height: 100%;
}
html {
    overflow-y: auto;
}
body {
    background: #fff none repeat scroll 0 0;
    font: 12px arial;
}
body, p, form, ul, li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
body, form, #fm {
    position: relative;
}
td {
    text-align: left;
}
img {
    border: 0 none;
}
a {
    color: #00c;
}
a:active {
    color: #f60;
}
input {
    border: 0 none;
    padding: 0;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
#head {
    padding-bottom: 100px;
    text-align: center;
}
#ftCon {
    bottom: 44px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 0;
}
.ftCon-Wrapper {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
#qrcode {
    display: inline-block;
}
#qrcode .qrcode-item {
    float: left;
}
#qrcode .qrcode-item-2 {
    margin-left: 33px;
}
#qrcode .qrcode-img {
    float: left;
    height: 60px;
    width: 60px;
}
#qrcode .qrcode-item-1 .qrcode-img {
    background: rgba(0, 0, 0, 0) url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/zbios_62c636fe.png") no-repeat scroll 0 0;
}
#qrcode .qrcode-item-2 .qrcode-img {
    background: rgba(0, 0, 0, 0) url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/nuomi_510f7472.png") no-repeat scroll 0 0;
}
@media not all {
#qrcode .qrcode-item-1 .qrcode-img {
    background-image: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/zbios_x2_298f96c5.png");
    background-size: 60px 60px;
}
#qrcode .qrcode-item-2 .qrcode-img {
    background-image: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/nuomi_x2_de75d5db.png");
    background-size: 60px 60px;
}
}
#qrcode .qrcode-text {
    color: #999;
    float: left;
    line-height: 23px;
    margin: 8px 0 0 10px;
}
#qrcode .qrcode-text p {
    text-align: left;
}
#qrcode .qrcode-text b {
    color: #4c4c4c;
    font-weight: bold;
}
#qrcode .qrcode-text span {
    letter-spacing: 1px;
}
#ftConw {
    display: inline-block;
    margin-left: 33px;
    position: relative;
    text-align: left;
    top: -12px;
}
.bg {
    background-image: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_d99e5dac.png");
    background-repeat: no-repeat;
}
.c-icon {
    background: rgba(0, 0, 0, 0) url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_d99e5dac.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 14px;
    overflow: hidden;
    vertical-align: text-bottom;
    width: 14px;
}
.c-icon-triangle-down-blue {
    background-position: -480px -168px;
}
.c-icon-chevron-unfold2 {
    background-position: -504px -168px;
}
#m {
    margin: 0 auto;
    width: 720px;
}
#nv a, #nv b, .btn, #lk {
    font-size: 14px;
}
#nv {
    font-size: 16px;
    height: 19px;
    margin: 0 0 4px;
    text-align: left;
    text-indent: 137px;
}
.s_btn {
    background-color: #ddd;
    background-position: 0 -48px;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    width: 95px;
}
.s_btn_h {
    background-position: -240px -48px;
}
.s_btn_wr {
    background-position: -120px -48px;
    display: inline-block;
    height: 34px;
    vertical-align: top;
    width: 97px;
    z-index: 0;
}
#cp, #cp a {
    color: #666;
}
#cp .c-icon-icrlogo {
    background: rgba(0, 0, 0, 0) url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_d99e5dac.png") no-repeat scroll -600px -96px;
    display: inline-block;
    height: 17px;
    overflow: hidden;
    position: relative;
    top: 3px;
    width: 14px;
}
#shouji {
    margin-right: 14px;
}
#u {
    display: none;
}
#c-tips-container {
    display: none;
}
#wrapper {
    height: 100%;
    min-height: 600px;
    min-width: 810px;
}
#head {
    height: 100%;
    min-height: 600px;
    padding-bottom: 0;
    position: relative;
}
#head .head_wrapper {
    height: 100%;
}
#m {
    position: relative;
}
#fm {
    padding-left: 40px;
    top: -37px;
}
#lh {
    margin: 16px 0 5px;
}
#lh a {
    color: #272727;
    margin-right: 20px;
}
#lk {
    display: none;
    margin: 33px 0;
    position: absolute;
    right: 0;
    top: 0;
}
#lk span {
    font: 14px "宋体";
}
#nv {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
#lm {
    color: #666;
    font-size: 13px;
    height: 60px;
    left: 0;
    line-height: 15px;
    margin-top: 60px;
    position: absolute;
    top: 0;
    width: 100%;
}
#lm a {
    color: #666;
}
#pad-version {
    line-height: 40px;
}
.s_ipt_wr.bg, .s_btn_wr.bg, #su.bg {
    background-image: none;
}
.s_btn_wr {
    border-bottom: 1px solid transparent;
    height: auto;
    width: auto;
}
.s_btn {
    background: #3385ff none repeat scroll 0 0;
    border-bottom: 1px solid #2d78f4;
    color: white;
    font-size: 15px;
    height: 36px;
    letter-spacing: 1px;
    outline: medium none;
    width: 100px;
}
.s_btn.btnhover {
    background: #317ef3 none repeat scroll 0 0;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}
.s_btn_h {
    background: #3075dc none repeat scroll 0 0;
    box-shadow: 1px 1px 5px #2964bb inset;
}
#result_logo {
    display: none;
}
#index_logo img {
    display: inline-block;
    height: 129px;
    width: 270px;
}
#s_tab {
    display: none;
}
.s_form {
    position: relative;
    top: 38.2%;
}
.s_form_wrapper {
    position: relative;
    top: -191px;
}
.s_ipt_wr {
    height: 34px;
}
#head .c-icon-bear-round {
    display: none;
}
#form {
    margin: 22px auto 0;
    text-align: left;
    width: 641px;
    z-index: 100;
}
#form .bdsug, #fm .bdsug {
    top: 35px;
}
.bdsug {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ededed;
    display: none;
    position: absolute;
    width: 538px;
}
.bdsug.bdsugbg ul {
    background: rgba(0, 0, 0, 0) url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/sugbg_6a9201c2.png") no-repeat scroll 100% 100% / 100px 110px;
}
.bdsug li {
    color: #000;
    cursor: default;
    font: 14px/25px arial;
    padding: 0 8px;
    position: relative;
    width: 522px;
}
.bdsug li.bdsug-s {
    background: #f0f0f0 none repeat scroll 0 0;
}
.bdsug-store span, .bdsug-store b {
    color: #7a77c8;
}
.bdsug-store-del {
    color: #666;
    cursor: pointer;
    display: none;
    font-size: 12px;
    position: absolute;
    right: 8px;
    text-decoration: underline;
    top: 0;
}
.bdsug-s .bdsug-store-del {
    display: inline-block;
}
.bdsug-ala {
    border-bottom: 1px solid #e6e6e6;
    display: inline-block;
}
.bdsug-ala h3 {
    background: rgba(0, 0, 0, 0) url("//www.baidu.com/img/sug_bd.png") no-repeat scroll left center;
    color: #7b7b7b;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    margin: 8px 0 5px;
    padding-left: 20px;
}
.bdsug-ala p {
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
}
.bdsug .bdsug-direct {
    border-bottom: 1px solid #f1f1f1;
    padding: 0;
    width: auto;
}
.bdsug .bdsug-direct p {
    color: #00c;
    cursor: pointer;
    font-weight: bold;
    line-height: 34px;
    overflow: hidden;
    padding: 0 8px;
    white-space: nowrap;
}
.bdsug .bdsug-direct p img {
    height: 16px;
    margin: 7px 6px 9px 0;
    vertical-align: middle;
    width: 16px;
}
.bdsug .bdsug-direct p span {
    margin-left: 8px;
}
.bdsug .bdsug-direct p i {
    background-color: #2b99ff;
    color: #fff;
    display: inline;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    margin-left: 8px;
    overflow: hidden;
    padding: 1px 5px;
    text-align: center;
}
.bdsug .bdsug-pcDirect {
    background-color: #f8f8f8;
    color: #000;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.bdsug .bdsug-pc-direct-tip {
    background: rgba(0, 0, 0, 0) url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/pc_direct_ffda303e.png") no-repeat scroll 0 0;
    display: block;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 8px;
    width: 55px;
}
.bdsug li.bdsug-pcDirect-s {
    background-color: #f0f0f0;
}
.bdsug .bdsug-pcDirect-is {
    background-color: #f8f8f8;
    color: #000;
    font-size: 14px;
    line-height: 22px;
}
.bdsug .bdsug-pc-direct-tip-is {
    background: rgba(0, 0, 0, 0) url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/pc_direct_ffda303e.png") no-repeat scroll 0 0;
    display: block;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 3px;
    width: 55px;
}
.bdsug li.bdsug-pcDirect-is-s {
    background-color: #f0f0f0;
}
.bdsug .bdsug-pcDirect-s .bdsug-pc-direct-tip, .bdsug .bdsug-pcDirect-is-s .bdsug-pc-direct-tip-is {
    background-position: 0 -15px;
}
.bdsug .bdsug-newicon {
    color: #929292;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 22px;
    opacity: 0.7;
}
.bdsug .bdsug-s .bdsug-newicon {
    opacity: 1;
}
.bdsug .bdsug-newicon i {
    font-style: normal;
    letter-spacing: 0;
}
.toggle-underline {
    text-decoration: none;
}
.toggle-underline:hover {
    text-decoration: underline;
}
.tools {
    position: absolute;
    right: -75px;
}
#mHolder {
    display: none;
    position: relative;
    width: 62px;
    z-index: 296;
}
#mCon {
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    position: absolute;
}
#mCon span {
    color: #00c;
    cursor: default;
    display: block;
    width: 24px;
}
#mCon .hw {
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}
#mCon .pinyin {
    display: inline-block;
}
#mCon .c-icon-chevron-unfold2 {
    margin-left: 5px;
}
#mMenu a {
    display: block;
    height: 100%;
    line-height: 22px;
    text-decoration: none;
    text-indent: 6px;
    width: 100%;
}
#mMenu, #user ul {
    box-shadow: 1px 1px 2px #ccc;
}
#mMenu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #9b9b9b;
    display: none;
    list-style: outside none none;
    position: absolute;
    right: 27px;
    top: 28px;
    width: 56px;
}
#mMenu a:hover {
    background: #ebebeb none repeat scroll 0 0;
}
#mMenu .ln {
    background: #ebebeb none repeat scroll 0 0;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin-top: -1px;
    overflow: hidden;
}
#u1 a:link, #u1 a:visited {
    color: #666;
    text-decoration: none;
}
#u1 a:hover, #u1 a:active {
    text-decoration: underline;
}
#u1 a:active {
    color: #00c;
}
#u1 {
    color: white;
    margin: 19px 0 5px;
    padding: 0 96px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
#u1 .reg {
    display: none;
}
#u1 a.pf, #u1 a.pf:visited {
    color: #333;
    display: inline-block;
    float: left;
    font-size: 13px;
    line-height: 24px;
    margin-left: 20px;
    overflow: hidden;
    text-decoration: underline;
}
#u1 a.lb, #u1 a.lb:visited, #u1 a.username {
    color: #333;
    display: inline-block;
    float: left;
    font-size: 13px;
    line-height: 24px;
    margin-left: 20px;
    text-decoration: underline;
}
#u1 a.bri, #u1 a.bri:visited {
    background: #38f none repeat scroll 0 0;
    border-bottom: 1px solid #38f;
    color: white;
    display: inline-block;
    float: left;
    font-size: 13px;
    height: 23px;
    line-height: 24px;
    margin-left: 19px;
    margin-right: 2px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 60px;
}
#u1 a.bri.brihover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border-bottom: 1px solid transparent;
    color: #333;
    display: none;
    margin-left: 19px;
    text-decoration: none;
}
#u1 #lm a {
    color: #00c;
    text-decoration: underline;
}
#u1 a.mnav, #u1 a.mnav:visited {
    color: #333;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    margin-left: 20px;
    text-decoration: underline;
}
#u1 a.pf:hover, #u1 a.lb:hover, #u1 a.mnav:hover {
    color: #00c;
}
.briiconsbg {
    background-image: url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/icons_c3b33b92.png");
    background-repeat: no-repeat;
    background-size: 300px 18px;
}
.bdpfmenu {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    box-shadow: 1px 1px 5px #d1d1d1;
    margin-top: -1px;
    position: absolute;
    right: 160px;
    top: 36px;
    width: 68px;
    z-index: 2;
}
.bdpfmenu a {
    display: block;
    line-height: 26px;
    margin: 0 !important;
    padding: 0 9px;
    text-align: left;
    text-decoration: none;
}
#wrapper .bdpfmenu a:link, #wrapper .bdpfmenu a:visited {
    background: white none repeat scroll 0 0;
    color: #333;
}
#wrapper .bdpfmenu a:hover, #wrapper .bdpfmenu a:active {
    background: #38f none repeat scroll 0 0;
    color: white;
    text-decoration: none;
}
#wrapper .bdnuarrow {
    display: block;
    font-size: 0;
    height: 0;
    left: 50%;
    line-height: 0;
    margin-left: -5px;
    position: absolute;
    top: -10px;
    width: 0;
}
#wrapper .bdnuarrow em, #wrapper .bdnuarrow i {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: dashed dashed solid;
    border-width: 5px;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}
#wrapper .bdnuarrow em {
    border-bottom-color: #d8d8d8;
    top: -1px;
}
#wrapper .bdnuarrow i {
    border-bottom-color: #fff;
    top: 0;
}
.s-isindex-wrap #wrapper .bdnuarrow {
    background: rgba(0, 0, 0, 0) url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/icons_c3b33b92.png") no-repeat scroll -90px -1px;
    height: 13px;
}
#wrapper .bdnuarrow.bdbriarrow {
    display: none !important;
    right: 104px;
}
#wrapper .bdbri {
    background-color: #f9f9f9;
    border-left: 1px solid #e7e7e7;
    min-height: 100px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    z-index: 2;
}
#prefpanel {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 1px solid #ebebeb;
    display: none;
    min-width: 960px;
    opacity: 0;
    position: fixed;
    top: -359px;
    width: 100%;
    z-index: 1000;
}
#prefpanel form {
}
#wrapper .bdbriimgtitle {
    border-bottom: 1px solid #f0f0f0;
    color: #333;
    cursor: default;
    font-size: 13px;
    height: 43px;
    line-height: 43px;
    margin: 0 auto;
    padding-top: 9px;
    text-align: center;
    width: 66px;
}
#wrapper .briscrollwrapper {
    overflow: hidden;
}
#wrapper .briscrollwrapperContainer {
    position: relative;
}
#wrapper .bdbri.bdbriimg .bdmainlink a, #wrapper .bdbri.bdbriimg .bdothlink a {
    border-bottom: 1px solid #f0f0f0;
    color: #666;
    display: block;
    height: 76px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    width: 66px;
}
#wrapper .bdbri.bdbriimg .bdmainlink a:visited, #wrapper .bdbri.bdbriimg .bdothlink a:visited {
    color: #666;
}
#wrapper .bdbri.bdbriimg .bdmainlink a:hover, #wrapper .bdbri.bdbriimg .bdothlink a:hover {
    color: #666;
    text-decoration: underline;
}
#wrapper .bdbri.bdbriimg .bdmainlink a:active, #wrapper .bdbri.bdbriimg .bdothlink a:active {
    color: #00c;
    text-decoration: underline;
}
#wrapper .bdbri.bdbriimg span {
    background: rgba(0, 0, 0, 0) url("https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/logos/bdbri_icons_2e35e84b.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 36px;
    margin: 10px auto 5px;
    width: 36px;
}
#wrapper .bdbri.bdbriimg .bdbrimore, #wrapper .bdbri.bdbriimg .bdbrievenmore {
    clear: both;
    text-align: center;
}
#wrapper .bdbri.bdbriimg .bdbrievenmore {
    height: 30px;
    margin-top: 15px;
    overflow: hidden;
    width: 85px;
}
#wrapper .bdbri.bdbriimg span.bdbriimgitem_1 {
    background-position: 0 0;
}
#wrapper .bdbri.bdbriimg span.bdbriimgitem_2 {
    background-position: -36px 0;
}
#wrapper .bdbri.bdbriimg span.bdbriimgitem_3 {
    background-position: -72px 0;
    width: 40px;
}
#wrapper .bdbri.bdbriimg span.bdbriimgitem_4 {
    background-position: -112px 0;
}
#wrapper .bdbri.bdbriimg span.bdbriimgitem_5 {
    background-position: -148px 0;
}
#wrapper .bdbri.bdbriimg span.bdbriimgitem_6 {
    background-position: -184px 0;
}
#wrapper .bdbri.bdbriimg span.bdbriimgitem_7 {
    background-position: -220px 0;
}
#wrapper .bdbri.bdbriimg .bdbrievenmore a:link, #wrapper .bdbri.bdbriimg .bdbrievenmore a:visited {
    color: #666;
    text-decoration: underline;
}
#wrapper .bdbri.bdbriimg .bdbrievenmore a:hover {
    color: #666;
    text-decoration: underline;
}
#wrapper .bdbri.bdbriimg .bdbrievenmore a:active {
    color: #00c;
}
.bdbriscroll-ctrl-scroll {
    -moz-user-select: none;
    border-left: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    cursor: default;
    position: absolute;
    right: 1px;
    top: 10px;
    width: 8px;
}
.bdbriscroll-ctrl-scroll .bdbriscroll-axis {
    background: #f2f2f2 none repeat scroll 0 0;
    left: 0;
    position: absolute;
    width: 8px;
    z-index: 0;
}
.bdbriscroll-ctrl-scroll-touch .bdbriscroll-axis {
    background: #f2f2f2 none repeat scroll 0 0;
    width: 7px;
}
.bdbriscroll-ctrl-scroll-hover .bdbriscroll-axis {
    background: #f2f2f2 none repeat scroll 0 0;
}
.bdbriscroll-ctrl-scroll .bdbriscroll-slider {
    background: #d9d9d9 none repeat scroll 0 0;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
    cursor: default;
    display: none;
    height: 14px;
    left: 0;
    margin-left: -1px;
    margin-top: -1px;
    overflow: hidden;
    position: absolute;
    width: 7px;
    z-index: 10;
}
.bdbriscroll-ctrl-scroll-touch .bdbriscroll-slider, .bdbriscroll-ctrl-scroll-hover .bdbriscroll-slider {
    background: #b8b8b8 none repeat scroll 0 0;
    border-bottom: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
}
